.swipeButtons {
    display: flex;
    bottom: 10vh;
    justify-content: space-evenly;
    position: fixed;
    width: 100%;
}

.swipeButtons__button {
    background-color: white;
    box-shadow: 0px 10px 53px -18px rgba(0, 0, 0, 0.75);
    height: 100px !important;
    width: 100px !important;
}

.swipeButtons__left {
    padding: 3vw !important;
    color: #ec5e6f !important;
}

.swipeButtons__right {
    padding: 3vw !important;
    color: #23e9bc !important;
}

.swipeButtons__next {
    padding: 1vw !important;
    color: #3dcfeb !important;
}

.swipeButtons__before {
    padding: 1vw !important;
    color: #efd075 !important;
}